.books {
  padding: 20px 0 0 0;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgb(209 213 223 / 50%);
}
.books-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  span {
    margin-bottom: 0;
    font-size: 16px;
    color: #858997;
  }
}

.books-section {
  .book-link {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eeeff3;
    padding: 16px 20px;
    &-image {
      width: 80px;
      img {
        width: 80px;
      }
    }
    &-details {
      h6 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0;
        font-size: 16px;
        color: #000;
      }
      p {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: normal;
        font-size: 14px;
        color: #858997;
        margin-bottom: 0;
      }
      p,
      h6 {
        margin: 0;
      }
    }
  }
}
